.video-item {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  overflow: hidden;
  padding: 16px;
  transition: transform 0.2s ease-in-out;
}

.video-item:hover {
  transform: translateY(-5px);
}

.thumbnail img {
  border-radius: 8px;
  width: 120px;
  height: 90px;
  object-fit: cover;
}

.video-info {
  flex-grow: 1;
  margin-left: 16px;
  text-decoration: none;
  color: inherit;
}

.video-info h3 {
  margin: 0;
  font-size: 18px;
  color: #333;
}

.video-info p {
  margin: 4px 0 0;
  font-size: 14px;
  color: #777;
}

.like-button {
  display: flex;
  align-items: center;
}

.like-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: #888;
  outline: none;
  transition: color 0.3s, transform 0.3s;
}

.like-btn.liked {
  color: #e74c3c;
  transform: scale(1.2);
}

.like-btn:hover {
  color: #e74c3c;
}
.video-details h3{
  margin-left: 10px !important;

}

@media (max-width: 600px) {
  .video-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .thumbnail img {
    width: 100%;
    height: auto;
  }

  .video-info {
    margin-left: 0;
    margin-top: 10px;
  }
}
